.game-area {
  position: relative;
  width: 100%;
  height: 50vh;
  min-height: 170px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 0;
}

.music-stave-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.motion-wrapper {
  position: absolute;
  object-fit: contain;
}

.notes-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  overflow: visible;
  pointer-events: none;
  z-index: 3;
  display: flex;
  align-items: center;

}

.note-svg {
  transition: color 0.3s ease;
}

div.motion-wrapper .note-svg.note-hit {
  color: var(--main-color-dark) !important;
}
