.song {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.3s;
  flex: 1;
}

.song-star {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem;
  width: auto;
  height: 2.81rem;
}

.song-img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.song:hover {
  transform: scale(1.05);
}

.song-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color-dark);
  font-family: var(--font-tertiary);
  color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem;
}

.song-footer__select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.song-footer__select img {
  width: 2rem;
}

.songs-menu__closed .songs {
  display: none;
}


@media (max-width: 639px) {}

@media (max-width: 1023px) {
  .song {
    width: 50%;
    max-width: calc(100% - 4rem);
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .song {
    width: 40%;
    max-width: calc(100% / 2 - 2rem);
  }
}

@media (min-width: 1200px) {
  .song {
    width: 30%;
    max-width: calc(100% / 3 - 2rem);
  }
}
